[Desktop Entry]
Name=VeraCrypt
Type=Application
MimeType=application/x-veracrypt-volume;
Exec=/usr/bin/vc-open
NoDisplay=true
Terminal=false
X-Ubuntu-Gettext-Domain=truecrypt-helper
