[Desktop Entry]
Exec=/usr/bin/sudo /usr/bin/tc-wizard
Icon=truecrypt-wizard
Name=CryptoBox Wizard
Terminal=false
Type=Application
Version=1.0
Categories=Application;Security;
X-Ubuntu-Gettext-Domain=truecrypt-helper
